*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Lucida, monospace;
}

#mainNav .logo img{
    height: 84px;
    transition: height 0.4s;
}

.bg-black{
    background: #122836 !important; 
}

.txt-white a{
    color: #eee !important;
}


#mainNav{
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    position: fixed;
    width: 100%;
    top: 0px;
    background: #eee;
    transition: background .4s;
    z-index: 99;
}

section:nth-of-type(1){
    margin-top: 84px;
    height: 400px;   
}

section:nth-of-type(2){
    scroll-margin-top: 68px;
    position: auto;
}

section{
    height: 300px;
    padding: 16px 100px;
    font-size: 20px;
}

section:nth-last-of-type(odd){
    background: #eee;
    color: #333;
}


section:nth-last-of-type(even){
    background: #122836;
    color: #eee;
}


footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: pink;
}


#mainNav ul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-around;
}

#mainNav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color .4s;
}


.carousel{
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 50px 4px;
    border-radius: 8px;
    max-width: 900px;
    width: 85vw;
    margin: auto;
    margin-top: 8px;
    overflow-x: hidden;
}

.images-container{
    display: flex;
    gap: 40px;
    animation: 120s slide_animation infinite;
}

.images-container img{
    height: 281px;
    width: 500px;
}

@keyframes slide_animation{
    0% {transform: translateX(0%);}
    5% {transform: translateX(-65.5%);}
    10% {transform: translateX(-131%);}
    15% {transform: translateX(-196.5%);}
    20% {transform: translateX(-262%);}
    25% {transform: translateX(-327.5%);}
    30% {transform: translateX(-393%);}
    35% {transform: translateX(-458.5%);}
    40% {transform: translateX(-524%);}
    45% {transform: translateX(-589.5%);}
    50% {transform: translateX(-650%);}
    55% {transform: translateX(-589.5%);}
    60% {transform: translateX(-524%);}
    65% {transform: translateX(-458.5%);}
    70% {transform: translateX(-393%);}
    75% {transform: translateX(-327.5%);}
    80% {transform: translateX(-262%);}
    85% {transform: translateX(-196.5%);}
    90% {transform: translateX(-131%);}
    95% {transform: translateX(-65.5%);}
    100% {transform: translateX(0%);}
}

#sidenav {
    height: 100%; 
    width: 3%;
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background: #eee;
    transition: background .4s;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 8% 0px;
    transition: margin-top .4s;
  }

 #sidenav img{
    max-width: 100%;
    padding: 0px 4px;
    margin: 0px 0px 50px;
}


.first-column {
    width: 3%;
    float: left;
}

.second-column {
    width: 97%;
    float: right;
}


#titulo {
    color: #333;
    font-size: 50px;
    font-family: Lucida, monospace;
    text-align:center;
}

@media only screen and (min-device-width : 320px)  and (max-device-width : 480px) {
/* Styles */
#titulo{
    font-size: 30px;    
}
section:nth-of-type(2){
    scroll-margin-top: 60px;
    position: auto;
}
#sidenav {
    vertical-align: middle;
    height: 100%; 
    width: 5%;
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background: #eee;
    transition: background .4s;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 8% 0px;
    transition: margin-top .4s;
  }

.first-column {
    width: 100%;
    float: none;
}

.second-column {
    width: 100%;
    float: none;
}
#sidenav {padding: 20% 0%;
    vertical-align: middle;}

}

#contenido{
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  font-family:courier, monospace;
  text-align:justify;
  /*margin-top: 100px;*/
}

#greeting-container {
  margin-top: 20px;
  text-align:center;
}


.yo {
    width: 288px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paul{
    width: 384px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }


  .row1 {
    display: flex;
  }
  
.column1 {
    flex: 50%;
    padding: 5px;
  }